
#course-card {
    margin: 0% auto;
    margin-top: 50px;
    border-radius: 28px;
    width: 400px;
    height: 400px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

#course-card:hover {
    transform: scale(1.1);
    transition: ease-in-out 0.5s;
}

#course-card:not(:hover) {
    transform: scale(1);
    transition: ease-in-out 0.5s;
}

#background-pattern {
    width: 400px;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    opacity: 0.1;
    position: relative;
    clip-path: inset(0px 0px 67px 0px);
}

.card-header {
    position: relative;
    border-top-right-radius: 28px;
    border-top-left-radius: 28px;
    width: 400px;
    height: 130px;
    background-color: #7DC0FD;
}

.subjectName {
    top: -180px;
    font-size: 45px;
    font-weight: 100;
    line-height: 1;
    position: relative;
    font-family: 'Bebas Neue';
    color: #494949;
    text-align: center;
    max-height: 130;
}

#userPhoto {
    width: 50px;
    height: 50px;
    position: relative;
    top: -200px;
    margin-left: 175px;

}

#profName {
    position: relative;
    top: -220px;
    font-size: large;
    font-weight: 500;
    color: #494949;
    text-align: center;
    font-family: 'Poppins';
    font-weight: 500;
}

hr {
    position: relative;
    top: 50px;
    width: 90%;
}

ul {
    position: relative;
    list-style-type: none;
    top: 40px;
    padding: 0%;
    left: 30px;
    font-size: 12px;
    font-family: 'Poppins';
}

h4 {
    font-weight: 500;
}


#soonClosureActs {
    position: relative;
    top: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-size: medium;
    font-weight: bolder;
}

figure {
    position: relative;
    background-color: #D9D9D9;
    height: 30px;
    width: 60%;
    margin: auto;
    top: 55px;
    border-radius: 28px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.actNum {
    display: inline;
    color: #127EC2;
}

.actName {
    display: inline;
    color: #A0A0A0;
}

.actDate {
    display: inline;
    color: #127EC2;
}

.actNumSoonClosure {
    color: #A69603;
    display: inline;
}

.actDateSoonClosure {
    color: #A69603;
    display: inline;
}

#progress-content {
    position: relative;
    background-color: #FF9900;
    text-align: center;
    color: white;
    font-family: 'Poppins';
    font-weight: bold;
    line-height: 2;
    top: 0px;
    right: 48px;
    border-radius: 28px;
    box-shadow: 0px 0px 0px;
}

#courseProgress {
    position: relative;
    top: 40px;
    text-align: center;
    font-family: 'Poppins';
    font-size: medium;
    margin-bottom: 0;
}
;