$color-gris: #B3B3B3;
$color-azul-claro: #127EC2;
$color-gris-oscuro: #6C6B6B;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

.modalEstilo {

    .textBlue {
        color: $color-azul-claro;
    }

    .textGrey {
        color: $color-gris;
    }

    .modalActity {

        display: flex;
        align-items: center;

        h2 {
            font-family: 'Bebas Neue', sans-serif;
            font-size: 50px;
            font-weight: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
            text-align: center;

            @media screen and (max-width: 767px) {
                font-size: 30px;
            }
        }

        .minLinea {
            border-top: 8px solid $color-gris;
            width: 35px;
            margin: 0 10px;
        }

    }

    .maxLinea {
        border-top: 2px solid #8D8D8D;
        width: auto;
        margin: auto;
    }

    .textNF {
        display: flex;
        align-items: center;
        margin-top: 10px;

        h3 {
            text-align: left;
            margin-right: 15px;
        }

        img {
            height: 40px;
            margin-left: -10px;
        }

        .text {
            color: $color-gris;
        }

        .textB {
            color: $color-azul-claro;
        }

        p {
            margin-right: 5px;
        }

        .textP {
            display: flex;
            margin-left: auto;
        }

    }



    .selectRad {
        display: flex;
        margin-left: auto;
        border-radius: 20px;
        border: none;
        color: black;
        font-family: 'Poppins', sans-serif;
        font-style: normal;
        font-weight: 500;
        text-align: center;
        padding: 0px;



        &:focus {
            outline: none;
        }

        option {
            color: black;
            font-family: 'Poppins', sans-serif;
            font-style: normal;
            font-weight: 500;

        }
    }

    .comentarioEstilo {

        margin-top: 30px;

        h3 {
            color: $color-gris-oscuro;
            margin-top: 20px;
            text-align: center;
        }

        .commentArea {
            max-width: 600px;
            width: 600px;
            height: 150px;
            border-radius: 20px;
            padding: 20px;
            text-align: justify;
            font-size: 20px;
            margin-top: 8px;
            background-color: #EFEDED;
            color: #928F8F;
            border: none;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

            @media screen and (max-width: 767px) {
                width: 90%;
            }
        }

        .maxLinea2 {
            border-top: 2px solid #D9D4D4;
            width: auto;
            margin: 20px auto;
        }

        .califica {
            display: flex;
            justify-content: center;
        }

        .califica h3 {
            margin-left: 5px;
        }

        .star-rating {
            text-align: center;

            .star {
                font-size: 54px;
                cursor: pointer;
                color: #ccc;
                transition: color 0.3s;

                &:hover {
                    color: #fadb14;
                }

                &.filled {
                    color: #fadb14;
                }

                &.selected {
                    color: #fadb14;
                    color: #7a5216;
                }
            }
        }
    }

    .btnGuardar {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

}


