// ################################################################################################ FONT FACE
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// ################################################################################################ MIXINS
@mixin flex-type {
  display: flex;
  justify-items: start;
  width: 100%;
  align-items: center;
}

// ################################################################################################ RESET
* {
  color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.screen {
  height: 100%;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://picsum.photos/1500");
  background-size: cover;
}

// ################################################################################################ FORM
#login-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 243, 244, 0.9);
  padding: 36px 70px;
  border-radius: 20px;
  gap: 18px;

  img {
    width: 128px;
    margin: 0 auto;
  }

  h2 {
    color: #000;
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container {
    display: flex;
    gap: 10px;
  }

  .input {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.8rem 1.6rem;
    border: 0;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    &::placeholder {
      color: rgba(0, 0, 0, 0.32);
      font-size: inherit;
      font-weight: inherit;
    }

    &:focus {
      outline: none;
    }
  }

  .inputPassContainer {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    display: flex;
  }

  a:hover {
    color: #2f8da1;
  }

  .inputPassContainer .inputIcon {
    box-shadow: none;
    width: 372px;
  }
}

img#ojoIcon {
  width: 35px;
}

#passOjo {
  background: none;
  border: none;
  cursor: pointer;
  padding: 9px;
}

// ################################################################################################ BUTTONS
.button {
  border-radius: 12px;
  background-color: #2f8da1;
  color: #fff;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  padding: 12px 16px;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.buttonGoogle {
  color: black;
  border: 0.9px solid black;
  background-color: transparent;

  &:hover {
    color: #2f8da1;
  }
}

img#iconGoogle {
  height: 23px;
  width: 23px;
}

.icon-container {
  display: inline-block;
  vertical-align: -3px;
  margin-right: 8px;
}

// ######################################### Button Class
#border-class-button {
  height: 400px;
  width: 405px;
  border-radius: 8%;
  border: 3px solid #000000;
  margin: 1rem;
  background-color: #fff;
  position: relative;

  .title-class-button {
    width: 40%;
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 3rem;
    margin: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    position: absolute;
  }

  .central-class-button {
    height: 50%;
    border-bottom: 0.9px solid black;
    border-top: 0.9px solid black;
  }

  .icon-class-button {
    border-radius: 50%;
  }

  .teacherName-class-button {
    color: #000;
    font-family: "Bebas Neue";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .description-class-button {
    color: #000;
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .footer-class-button {
    margin-top: 0.2rem;
    height: 20%;
  }

  .text-footer-class-button {
    color: #127ec2;
    font-family: "Bebas Neue";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-left: 1rem;
  }
  .icon-image-class-button {
    position: absolute;
    top: 5rem;
    left: 16.5rem;
    right: 0;
    margin: 10px;
  }
  .image-class-button {
    height: 36%;
  }
  .homework-footer-class-button {
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.5rem;
    text-align: justify;
  }

  //&:hover {
  //  opacity: 80%;
  //}
}

// ################################################################################################ LIST
.list {
  width: 25%;
  margin: 1.5rem auto;
  background-color: #bdffb2;
  padding: 0.75rem 2rem;

  div {
    @include flex-type();

    input[type="checkbox"] {
      border: 3px solid red;
      width: 2rem;
      height: 2rem;
    }

    button {
      margin-left: 3rem;
    }
  }
}
