// ################################################################################################ FONT FACE
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

// ################################################################################################ MIXINS
@mixin flex-type {
  display: flex;
  justify-items: start;
  width: 100%;
  align-items: center;
}

// ################################################################################################ RESET
* {
  color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.screen {
  height: 100%;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://picsum.photos/1500");
  background-size: cover;
}

// ################################################################################################ FORM
#login-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 243, 244, 0.9);
  padding: 36px 70px;
  border-radius: 20px;
  gap: 18px;

  img {
    width: 128px;
    margin: 0 auto;
  }

  h2 {
    color: #000;
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container {
    display: flex;
    gap: 10px;
  }

  .input {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.8rem 1.6rem;
    border: 0;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    &::placeholder {
      color: rgba(0, 0, 0, 0.32);
      font-size: inherit;
      font-weight: inherit;
    }
  }
}

// ################################################################################################ BUTTONS
.button {
  border-radius: 12px;
  background-color: #2f8da1;
  color: #fff;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  padding: 12px 16px;
}

// ################################################################################################ LIST
.list {
  width: 25%;
  margin: 1.5rem auto;
  background-color: #bdffb2;
  padding: 0.75rem 2rem;

  div {
    @include flex-type();

    input[type="checkbox"] {
      border: 3px solid red;
      width: 2rem;
      height: 2rem;
    }

    button {
      margin-left: 3rem;
    }
  }
}
