// ################################################################################################ FONT FACE
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

// ################################################################################################ MIXINS
@mixin flex-type {
  display: flex;
  justify-items: start;
  width: 100%;
  align-items: center;
}

// ################################################################################################ RESET
* {
  color: black;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

#root {
  height: 100%;
}

.App {
  text-align: center;
  height: 100%;
}

.screen {
  height: 100%;
}

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://picsum.photos/1500");
  background-size: cover;
}

// ################################################################################################ FORM
#login-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(243, 243, 244, 0.9);
  padding: 36px 70px;
  border-radius: 20px;
  gap: 18px;

  img {
    width: 128px;
    margin: 0 auto;
  }

  h2 {
    color: #000;
    font-family: "Poppins";
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .container {
    display: flex;
    gap: 10px;
  }

  .input {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0.8rem 1.6rem;
    border: 0;
    font-family: "Poppins";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;

    &::placeholder {
      color: rgba(0, 0, 0, 0.32);
      font-size: inherit;
      font-weight: inherit;
    }

    &:focus {
      outline: none;
    }
  }

  .inputPassContainer {
    border-radius: 2px;
    background: #fff;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border: 0;
    display: flex;
  }

  a:hover {
    color: #2f8da1;
  }

  .inputPassContainer .inputIcon {
    box-shadow: none;
    width: 372px;
  }
}

img#ojoIcon {
  width: 35px;
}

#passOjo {
  background: none;
  border: none;
  cursor: pointer;
  padding: 9px;
}

// ################################################################################################ BUTTONS
.button {
  border-radius: 12px;
  background-color: #2f8da1;
  color: #fff;
  font-family: "Poppins";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  padding: 12px 16px;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.buttonGoogle {
  color: black;
  border: 0.9px solid black;
  background-color: transparent;

  &:hover {
    color: #2f8da1;
  }
}

img#iconGoogle {
  height: 23px;
  width: 23px;
}

.icon-container {
  display: inline-block;
  vertical-align: -3px;
  margin-right: 8px;
}

// ######################################### Button Class
#border-class-button {
  height: 400px;
  width: 405px;
  border-radius: 8%;
  border: 3px solid #000000;
  margin: 1rem;
  background-color: #fff;
  position: relative;

  .title-class-button {
    width: 40%;
    color: #fff;
    font-family: "Bebas Neue";
    font-size: 3rem;
    margin: 0.5rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: left;
    position: absolute;
  }

  .central-class-button {
    height: 50%;
    border-bottom: 0.9px solid black;
    border-top: 0.9px solid black;
  }

  .icon-class-button {
    border-radius: 50%;
  }

  .teacherName-class-button {
    color: #000;
    font-family: "Bebas Neue";
    font-size: 1.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-left: 1rem;
    margin-top: 1rem;
  }
  .description-class-button {
    color: #000;
    font-family: "Poppins";
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: left;
    margin-left: 1rem;
    margin-top: 1.5rem;
  }

  .footer-class-button {
    margin-top: 0.2rem;
    height: 20%;
  }

  .text-footer-class-button {
    color: #127ec2;
    font-family: "Bebas Neue";
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
    margin-left: 1rem;
  }
  .icon-image-class-button {
    position: absolute;
    top: 5rem;
    left: 16.5rem;
    right: 0;
    margin: 10px;
  }
  .image-class-button {
    height: 36%;
  }
  .homework-footer-class-button {
    color: #000;
    font-family: Poppins;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 1.5rem;
    text-align: justify;
  }

  //&:hover {
  //  opacity: 80%;
  //}
}

// ################################################################################################ LIST
.list {
  width: 25%;
  margin: 1.5rem auto;
  background-color: #bdffb2;
  padding: 0.75rem 2rem;

  div {
    @include flex-type();

    input[type="checkbox"] {
      border: 3px solid red;
      width: 2rem;
      height: 2rem;
    }

    button {
      margin-left: 3rem;
    }
  }
}

// ################################################################################################ PROGRESS CHART
// No esta con SCSS, falta optimización
$--clr: #2f8da1;
$--percentaje: 88;
.container-chart {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.container-chart .progress-chart {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  color: #ffffff;
  background: #b4b0b0 linear-gradient(to right, transparent 50%, $--clr 0);
}
.container-chart h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
  z-index: 1;
  font-weight: 500;
}
.container-chart .progress-chart h3 span {
  font-size: 1.4rem;
  font-weight: 400;
}

.container-chart .progress-chart::before {
  content: "";
  display: block;
  height: 100%;
  margin-left: 50%;
  transform-origin: left;
  border-radius: 0 100% 100% 0/50%;
}

.container-chart .progress-chart::after {
  content: "";
  position: absolute;
  inset: 10px;
  border-radius: 50%;
  background: #ffffff;
}

@if $--percentaje>50 {
  .container-chart .progress-chart::before {
    background: $--clr;
    transform: rotate(calc((($--percentaje - 50) * 0.01turn)));
  }
} @else {
  .container-chart .progress-chart.less::before {
    background-color: #b4b0b0;
    transform: rotate(calc((($--percentaje - 0) * 0.01turn)));
  }
}

// ################################################################################################ NAVBAR
.navbarContainer {
  top: 0%;
  z-index: 100;
  position: sticky;
  padding: 0.4rem;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid #127ec2;
  img {
    width: 3rem;
    height: 3rem;
  }
  button {
    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    border-style: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    width: 40px;
    height: 37px;
  }

  .navbarContainerRight {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbarMenu {
    opacity: 0;
    display: none;
    transition: opacity 0.5s;
    background-color: #ffffff;
    border: 1px solid #127ec2;
    border-radius: 10px;
    position: absolute;
    width: 500%;
    top: 100%;
    margin-top: 1rem;
    right: 20%;
    ol {
      list-style-type: none;
    }
    h2 {
      margin: 0.5rem;
      font-size: 1.5rem;
      margin-top: 1rem;
      text-align: left;
      margin: 0.3rem;
    }
    p {
      margin-top: 0.5rem;
      margin-left: 0.8rem;
      margin-right: 0.8rem;
      margin-bottom: 0.5rem;
      border-bottom: 3px solid #000;
      font-family: Poppins;
      font-size: 0.725rem;
      font-style: normal;
    }
  }

  .buttonClass:hover {
    .navbarMenu {
      opacity: 1;
      display: block;
    }
  }
}
